{% extends 'base.html.twig' %}

{% block body %}
<h1>Это кабинет</h1>
    <br/>
    <p><b>E-mail:</b> {{ user.email }}</p>
    <p><b>Паспорт:</b> {{ user.passport }}</p>
    <br/>
    <br/>
    {% if not providers=='' %}
    <h4>Привязать аккаунт к социальной сети:</h4>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers={{ providers }};hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fset-join-case;mobilebuttons=0;optional=email"></div>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

